doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Aplikacja do logowania
        link(
            rel='stylesheet',
            href='../style.css',
            type='text/css'
        )
    body
        h2 Swojego konta Google możesz używać do logowania się na stronach i w aplikacjach innych firm. Dzięki temu nie musisz pamiętać nazw użytkownika ani haseł do poszczególnych kont.
        .button
            a(href='/auth/google') Przejdź do strony logowania
